{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">Radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">Specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">Registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">Profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                    <li><a style="color: #fff;" href="{% url 'mripatients' %}" class="goback-button">Go Back</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>


        </div>
    </header><!-- End Header -->





    <main id="main">
        <br>
        <br>
        <br>
        <section id="services" class="Services ">
            <div class="container">

                <div class="row">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}


                        <br>
                        <input type="file" name="mri_image" multiple>

                        <br>
                        <br>
                        <button type="submit" class="submit" id="login_submit" name="addmriimage">Submit</button>
                        <br>
                    </form>
                    <br>

                    {% for p in pro %}
                    <form>
                        <div style="position: relative;
                        height:20px;">
                            <a style="background-color:rgb(184, 66, 74);
                            color:rgb(255, 255, 255);
                            padding: 3px 12px;
                            border-radius: 6px;
                            position: absolute;
                            top: -46%;
                            right: 1%;" href="{% url 'deleteimg' p.pk %}">Delete</a>
                        </div>
                        <div class="form-group">

                            <label for="has_tumor">Has tumor?</label><br>
                            <div class="tumor">

                                {%if p.has_tumor == True %}
                                <div class="truetumor">{{p.has_tumor}}</div>
                                {% elif p.has_tumor == False %}
                                <div class="falsetumor">{{p.has_tumor}}</div>
                                {% else %}
                                <div class="ttumor">if have tumor return true ,not have tumor return false...</div>
                                {%endif%}

                            </div>

                        </div>
                        <br>
                        <div class="form-group">
                            <label for="tumor_size">Area of tumor:</label>
                            <div class="tumor_size">
                                {{p.tumor_size}}&nbsp;mm&sup2;
                            </div>
                        </div>
                        <br>
                        <div>
                            {%if p.has_tumor == True %}
                            <img class="mriimagetrue " src="{{p.mri_image.url}}" alt="">
                            {% elif p.has_tumor == False %}
                            <img class="mriimagefalse" src="{{p.mri_image.url}}" alt="">
                            {%endif%}
                            {%if p.has_tumor == True %}
                            <img src="{{p.mri_contour.url}}" alt="">
                            {%endif%}
                            <img src="{{p.mri_mask.url}}" alt="">
                        </div>

                    </form>
                    {% endfor %}
                </div>
            </div>
            </div>
        </section><!-- End Services Section -->





    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>



    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>