{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">Radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">Specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">Registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">Profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                    <li><a style="color: #fff;" href="{% url 'patients' %}" class="goback-button">Go Back</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>


        </div>
    </header><!-- End Header -->
    <br>
    <br>
    <br>
    <br>
    <main id="main">
        <section id="services" class="Services ">
            <div class="container">

                <div class="row">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name" name="fname"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name" name="lname"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <input type="radio" id="male" name="sex" value="male" checked>
                                <label for="male">Male</label>
                            </div>
                            <div>
                                <input type="radio" id="female" name="sex" value="female">
                                <label for="female">Female</label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" name="age" min="0" max="150" required>
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="submit" id="login_submit" name="addsubmit">Add</button>
                        <br>
                    </form>
                    <br>


                </div>
            </div>
            </div>
        </section><!-- End Services Section -->





    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="container d-md-flex py-4">



        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>



    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>