{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>


                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">logout</a></li>
                    <li><a style="color: #fff;" href="{% url 'index' %}" class="goback-button">Go Back</a></li>


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>


    <main id="main">
        <section id="services" class="Services ">
            <div class="container">
                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        <h3 class="text-center">Edite your account</h3>

                        <div class="form-group">
                            <label for="name">user name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name"
                                value="{{user.username}}" name="uname">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">first name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name"
                                value="{{user.first_name}}" name="fname">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">last name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name"
                                value="{{user.last_name}}" name="lname">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="email" class="form-control " id="name" aria-describedby="name"
                                value="{{user.email}}" name="email">
                        </div>
                        <br>


                        <div style="color:rgb(42, 66, 88);">if you need to change your password</div>
                        <br>
                        <div class="form-group">
                            <label for="name">Enter old password</label>
                            <input type="password" class="form-control " id="name" aria-describedby="name"
                                placeholder="Enter old password" name="oldpass">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Enter new password</label>
                            <input type="password" class="form-control " id="name" aria-describedby="name"
                                placeholder="Enter new password" name="newpass">
                        </div>
                        <br>
                        <div>
                            <input type="hidden" id="custId" name="type" value="{{userprofile.account_type}}">
                        </div>


                        <br>
                        <button type="submit" class="submit" id="login_submit" name="Editetprofile">create</button>
                        <br>

                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer">

    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>