{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">Radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">Specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">Registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">Profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>


        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h2 style="color: #fff;">Having a website dedicated to MRI of the brain can </h2>
            <h2 style="color: #fff;">be an invaluable resource for patients and healthcare </h2>
            <h2 style="color: #fff;">professionals alike. So, Our site help you to </h2>
            <h2 style="color: #fff;"> identification and segmentation of tumor.</h2>
            {% if account_type == 'registerator' %}
            <a href="{% url 'patients' %}" class="btn-get-started scrollto">Get Started</a>
            {% elif account_type == 'specialist' %}
            <a href="{% url 'speciallist' %}" class="btn-get-started scrollto">Get Started</a>
            {% else%}
            <a href="{% url 'mripatients' %}" class="btn-get-started scrollto">Get Started</a>
            {% endif %}
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <section id="services" class="Services ">
            <div class="container">

                <div class="row">
                    <form>

                        <div class="icon-box">
                            <h4 class="title">{{account_type|title}}</a>
                            </h4>
                            <h5>{{first_name|title}} {{last_name|title}}</h5>
                            <p class="description">date_joined:&nbsp;&nbsp;<span>{{date_joined}}</span>

                            </p>
                        </div>

                    </form>

                </div>
            </div>
        </section>

    </main>





    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>



    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>