{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="#">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>




                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>



    <section id="services" class="Services ">
        <div class="container">

            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <h3 class="text-center">Login</h3>
                    {% if messages %}
                    {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}" role="alert">
                        {{msg}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" class="form-control " id="name" aria-describedby="name" name="uname">
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="name">Password</label>
                        <input type="password" class="form-control " id="name" aria-describedby="name" name="pass">
                    </div>
                    <br>



                    <button type="submit" class="submit" id="login_submit" name="submitlogin">Login</button>
                    <br>
                    <br>
                    <div><a href="{% url 'forgetpassword' %}">Forget password?</a>
                    </div>

                </form>

            </div>
        </div>
    </section>

    <footer id="footer">

    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>