{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>


                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">logout</a></li>
                    <li><a style="color: #fff;" href="{% url 'patients' %}" class="goback-button">Go Back</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <main id="main">
        <section id="departments" class="departments">
            <div class="container">

                <div class="row gy-4 main">
                    <div class="col-lg-9">
                        <br>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">


                                <h3 class="patient_name"> {{patient.first_name}} {{patient.last_name}}</h3>
                                <div class="text">age:<span>{{patient.age}}</span></div>
                                <div class="text"> sex:<span>{{patient.sex}}</span></div>
                                <hr>


                                {% for t in tumor %}
                                <form>


                                    <div class="row gy-4">
                                        <div class="col-lg-6 details order-2 order-lg-1">
                                            <div class="text">uploded at:<strong>{{t.date_of_uploaded}}</strong></div>
                                            <div class="text">has_tumor: <strong>{{t.has_tumor}}</strong> </div>
                                            <div class="text">tumor_size: <strong>{{t.tumor_size}}</strong> </div>
                                            <br>
                                            <div class="imagepdf">
                                                <img src="{{ t.mri_image.url}}" alt="">
                                                <img src="{{ t.mri_mask.url}}" alt="">
                                            </div>
                                            <br>

                                        </div>
                                    </div>

                                    <br>



                                </form>
                                <hr>
                                {% endfor %}




                            </div>
                        </div>

    </main>
</body>