{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>


    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">Radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">Specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">Registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">Profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                    <li><a style="color: #fff;" href="{% url 'index' %}" class="goback-button">Go Back</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>


        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <div style="position: relative;">
        <a style="position: absolute;
        top: 25%;
        right: 15%;" type="button" class="btn btn-primary" href="{% url 'addpatient' %}">Add
            Patient</a>
    </div>
    <main id="main">
        <section id="services" class="Services ">
            <div class="container">

                <div class="row">

                    {% if patient %}
                    <form>

                        {% for p in patient %}
                        <div class="icon-box">
                            <h4 class="title"><a href="{% url 'patients' %}">{{p.first_name|title}}
                                    {{p.last_name|title}}</a>
                            </h4>
                            <p class="description">ID:<strong>{{p.id}}</strong>&nbsp;&nbsp;
                                Age:<span>{{p.age}}</span>&nbsp;&nbsp;
                                Sex:<span>{{p.sex}}</span>&nbsp;&nbsp;
                            </p>

                            <a style="background-color:rgb(184, 66, 74);
                            color:rgb(255, 255, 255);
                            padding: 3px 12px;
                            border-radius: 6px;" href="{% url 'deletepatient' p.pk %}">Delete</a>
                            <a style="background-color:rgb(75, 159, 85);
                            color:rgb(255, 255, 255);
                            padding: 3px 12px;
                            border-radius: 6px;" href="{% url 'updatepatient' p.pk %}">Update</a>
                        </div>

                        <br>
                        <br>
                        {% endfor %}


                    </form>
                    {% endif %}

                </div>
            </div>
        </section>
    </main>
</body>

</html>