{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Img Processing</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
        img {
            zoom: 80%;
        }

        .logo {
            zoom: 25%;
            top: 0;
            left: 0;
        }
    </style>





</head>


<body>

    <img class="logo" src="{{ STATIC_URL }}img/IMG-20230422-WA0000.jpg" alt="My Image" width="600px" height="600px">


    <main id="main">
        <section id="departments" class="departments">
            <div class="container">

                <div class="row gy-4 main">
                    <div class="col-lg-9">
                        <br>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="test">
                                    <div> {{pro.first_name}} {{pro.last_name}} <br> age:<span>{{pro.age}}</span>
                                        <br>sex:<span>{{pro.sex}}</span>
                                    </div>

                                </div>

                                <br>




                                {% for t in tumor %}
                                <form>
                                    <div class="row gy-4">
                                        <div class="col-lg-6 details order-2 order-lg-1">
                                            <div class="text">uploded at:<strong>{{t.date_of_uploaded}}</strong>
                                            </div>
                                            <div class="text">has_tumor: <strong>{{t.has_tumor}}</strong> </div>
                                            <div class="text">tumor_size: <strong>{{t.tumor_size}}</strong>
                                            </div>
                                            <br>
                                            <div class="imagepdf">
                                                <img src="{{ t.mri_image.path}}" alt="" width="200" height="200">
                                                {% if t.has_tumor == True %}
                                                <img src="{{t.mri_contour.path}}" alt="" width="200" height="200">
                                                {% endif %}
                                                <img src="{{ t.mri_mask.path}}" alt="" width="200" height="200">
                                            </div>
                                            <br>
                                            {% for d in doctor %}
                                            {% if t.id == d.tumor_id.id %}
                                            <div class="text">doctor name: <strong>{{d.first_name}}</strong>
                                            </div>
                                            <div class="text">{{d.notes}}</div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                </form>

                                {% endfor %}


                            </div>
                        </div>
                    </div>

    </main><!-- End #main -->







</body>