{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>


                    <li><a class="nav-link scrollto" href="{% url 'mripatients' %}">Radiologist </a></li>
                    <li><a class="nav-link scrollto" href="{% url 'speciallist' %}">Specialist</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'patients' %}">Registerator</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'editprofile' %}">Profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                    <li><a style="color: #fff;" href="{% url 'speciallist' %}" class="goback-button">Go Back</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <br>
    <br>
    <br>
    <br>

    <main id="main">
        <div class="p_pdf" style="position: relative;
        height:20px;">

            <form class="search-form d-flex align-items-center" method="POST" action="{% url 'pdfviews' %}">
                {% csrf_token %}
                {% for t in tumor %}
                <input type="hidden" name="search" placeholder="Search" value="{{t.person_id.id}}">
                {% endfor %}
                <button style="
                
                padding: 3px 12px;
                border-radius: 6px;
                position: absolute;
                top: 26%;
                right: 19%; " class="submit pdf btn-sm" type="submit" title="Search" name="pdfsubmit">Save as
                    PDF</button>
            </form>



        </div>
        <section id="departments" class="departments">
            <div class="container">

                <div class="row gy-4 main">
                    <div class="col-lg-9">
                        <br>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">


                                <h3 class="patient_name"> {{pro.first_name|title}}&nbsp;{{pro.last_name|title}}</h3>
                                <div class="text">Age:<span>{{pro.age}}</span></div>
                                <div class="text">Sex:<span>{{pro.sex}}</span></div>
                                <hr>


                                {% for t in tumor %}
                                <form method="POST" action="{% url 'note' t.pk %}">
                                    {% csrf_token %}
                                    <div style="position: relative;
                                        height:20px;">
                                        <a style="background-color:rgb(184, 66, 74);
                                        color:rgb(255, 255, 255);
                                        padding: 3px 12px;
                                        border-radius: 6px;
                                        position: absolute;
                                        top: -46%;
                                        right: 1%;" href="{% url 'deleteimgsp' t.pk %}">Delete</a>
                                    </div>
                                    <div class="row gy-4">
                                        <div class="col-lg-6 details order-2 order-lg-1">
                                            <div class="text">Uploded at:&nbsp;<strong>{{t.date_of_uploaded}}</strong>
                                            </div>
                                            <div class="text">Has
                                                tumor?&nbsp;<strong>{{t.has_tumor}}</strong></div>
                                            <div class="text">Area of
                                                tumor:&nbsp;<strong>{{t.tumor_size}}&nbsp;mm&sup2;</strong>
                                            </div>
                                            <br>
                                            <div class="imagepdf">
                                                <img src="{{ t.mri_image.url}}" alt="">
                                                {% if t.has_tumor == True %}
                                                <img src="{{t.mri_contour.url}}" alt="">
                                                {% endif %}
                                                <img src="{{ t.mri_mask.url}}" alt="">
                                            </div>
                                            <br>
                                            {% for d in doctor %}

                                            {% if t.id == d.tumor_id.id %}
                                            <div class="text">Name of
                                                specialist:&nbsp;<strong>{{d.first_name|title}}&nbsp;{{u.last_name|title}}</strong>

                                            </div>
                                            <div class="text">{{d.notes|title}}</div>
                                            {% endif %}

                                            {% endfor %}
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row gy-4">
                                        <div class="form-group mt-3">
                                            <textarea class="form-control" name="message" rows="5"></textarea>
                                        </div>
                                        <div class="text-center"><button type="submit" class="submit" name="submit">Add
                                                Note</button></div>
                                    </div>

                                </form>
                                <hr>
                                {% endfor %}



                            </div>
                        </div>

    </main><!-- End #main -->







</body>