{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MRI PACS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="{% url 'index' %}">MRI PACS</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>


                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>



                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>


    <main id="main">
        <section id="services" class="Services ">
            <div class="container">
                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        <h3 class="text-center">Create account</h3>
                        {% if messages %}
                        {% for msg in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{msg}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name" name="uname"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name" name="fname"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <input type="text" class="form-control " id="name" aria-describedby="name" name="lname"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">E-mail</label>
                            <input type="email" class="form-control " id="name" aria-describedby="name" name="email"
                                required>
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="password" class="form-control " id="name" aria-describedby="name" name="pass1"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Confirm Password</label>
                            <input type="password" class="form-control " id="name" aria-describedby="name" name="pass2"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <div style="color:rgb(42, 66, 88);"> <strong>Choose type of Account:</strong> </div>
                            <div>
                                <br>
                                <input type="radio" id="m" name="type" value="registerator" checked>
                                <label for="m">Registerator</label>
                            </div>
                            <div>
                                <input type="radio" id="f" name="type" value="specialist">
                                <label for="f">Specialist</label>
                            </div>
                            <div>
                                <input type="radio" id="l" name="type" value="radiologist">
                                <label for="l">Radiologist</label>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="submit" id="login_submit" name="submitprofile">Create</button>
                        <br>

                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer">

    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>